@model List<Depenses>

@{
    ViewData["Title"] = "Ticket expenses list";
}

@if (ViewBag.ErrorMessage != null)
{
    <p class="text-danger">@ViewBag.ErrorMessage</p>
}
else
{
    <div class="card">
        <h3 class="card-header">Ticket Expenses</h3>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Summary</th>
                        <th>Ticket ID</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var depense in Model)
                    {
                        <tr>
                            <td>@depense.Id</td>
                            <td>@depense.DateDepense.ToString("yyyy-MM-dd")</td>
                            <td>@depense.Summary</td>
                            <td>@depense.TicketId</td>
                            <td>@depense.Amount</td>
                            <td>
                                <div class="col-md-12">
                                    @* <button type="button" class="btn btn-danger">Delete</button> *@
                                    <button type="button" class="btn btn-warning">Update</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}